<%- include('partials/header') %>

<h2 class="internship"> <%- titleName %> </h2>

<div class="content">


<div class="summary">
  <div class="">
    <img src="" alt="">
    <p>Location</p>
    <p> <%- location %> </p>
  </div>
  <div class="">
    <img src="" alt="">
    <p>Length</p>
    <p>  <%- length %> </p>
  </div>
  <div class="">
    <img src="" alt="">
    <p>Paid</p>
    <p>  <%- paid %> </p>
  </div>
  <p><%- desc %></p>
</div>

<div class="gallery">
  <% projects.forEach(function(e){ %>
    <div class="section">
      <div class="card">
        <h3> <%- e.name %> </h3>
        <p> <%- e.desc%> </p>
        <button id= "<%- e.id %>" onclick="showOverlay('<%- e.img %>')" type="button" name="galleryButtons" >  <%- e.id %> </button>
      </div>
      <div class="card img">
        <p> <%- e.img[0]%> </p>
      </div>
    </div>
  <% }); %>
</div>

<div id="overlayContainer" class="overlay">
  <button type="button" name="button" onclick="closeOverlay()">close</button>
  <div id="imagesContainer"class="images">


  </div>

</div>

</div>


<script type="text/javascript" src="/js/overlay.js">
</script>
<%- include('partials/footer') %>
